# Biodata Pemilik Notebook

```
Nama  : Sindy Mei Marantika
NIM   : 2100015041
PD    : 4.0
Kelas : Dasar
email : sindy2100015041@webmail.uad.ac.id
```

## Pernyataan

Dengan ini saya menyatakan bahwa `Final Project Kelas Dasar 4.0` dikerjakan oleh saya sendiri tanpa ada bantuan dari orang lain.

# Soal 1

Buatlah dua list dan diberi nama `Nama` dan `NIM`. Datanya sebagai berikut.

|Nama|NIM|
|---|---|
|||
|Wisnu Catur Rachmad tulloh |2100015049|
|Sindy Mei Marantika|2100015041|
|Zakiah Intan Maula	|2100015043|
|Januar Nur Rasyid	|2100015006|
|Lisa Nessa Safitri	|2100015037|
|Hasan Darmawan	|2215015035|
|SAIFUL ANDIKA	|2100015051|
|Maya Isafa Sam Saputri| 	2200015023|
|Didi Cahyadi	|2200015012|
|Izza Anggitha Aryanawa| 	2200015032|
|Khusnul Khotimah	|2100015009|
|Badzliana Aqmar Suris 	|2100015016|
|Anggit Larasati	|2100015036|
|Sona Regina Salsabila	|2100015053|
|LELY AMALIA SAPUTRI	|2100015050|
|Nastasya Dewi	|2100015010|
|Ragita Anillya Putri Prasetianto|	2100015002|
|Muhammad Fatah Hidayat	|2200015002|
|Dwi Agustia	|2000015016|
|Nia Andriani Laila	|2000015002|
|Winarsi J. Bidul	|2000015011|
|Heru Pranoto	|2211015008|
|Reynaldi Ikbar Surya Andhika| 	2200015007|
|Muhammad Rafiq Amrullah|	2200015028|
|Muhammad Mujahid Al-makky	|2200015006|
|Fauzi Ramadhan	|2000015018|
|Vinna Rahmasari|	2000015023|
|Shintia Yulita Sari|	1900015057|
|Maretta Mia Audina|	2200015010|
|Salma Aulia Imama 	|2200015009|
|Dhea Emma Karniasari 	|2200015024|
|Khoirun Nisya|	2200015033|
|PUSPITA AMBARWATI|	2000015022|

In [3]:
Nama = ['Wisnu Catur Rachmad tulloh', 'Sindy Mei Marantika', 'Zakiah Intan Maula', 'Januar Nur Rasyid', 'Lisa Nessa Safitri',
        'Hasan Darmawan', 'SAIFUL ANDIKA', 'Maya Isafa Sam Saputri', 'Didi Cahyadi', 'Izza Anggitha Aryanawa', 'Khusnul Khotimah', 
        'Badzliana Aqmar Suris', 'Anggit Larasati', 'Sona Regina Salsabila', 'LELY AMALIA SAPUTRI', 'Nastasya Dewi', 
        'Ragita Anillya Putri Prasetianto', 'Muhammad Fatah Hidayat', 'Dwi Agustia', 'Nia Andriani Laila', 'Winarsi J. Bidul',
        'Heru Pranoto', 'Reynaldi Ikbar Surya Andhika',	'Muhammad Rafiq Amrullah', 'Muhammad Mujahid Al-makky', 'Fauzi Ramadhan',
        'Vinna Rahmasari', 'Shintia Yulita Sari', 'Maretta Mia Audina',	'Salma Aulia Imama', 'Dhea Emma Karniasari', 'Khoirun Nisya', 
        'PUSPITA AMBARWATI']
print(Nama)

['Wisnu Catur Rachmad tulloh', 'Sindy Mei Marantika', 'Zakiah Intan Maula', 'Januar Nur Rasyid', 'Lisa Nessa Safitri', 'Hasan Darmawan', 'SAIFUL ANDIKA', 'Maya Isafa Sam Saputri', 'Didi Cahyadi', 'Izza Anggitha Aryanawa', 'Khusnul Khotimah', 'Badzliana Aqmar Suris', 'Anggit Larasati', 'Sona Regina Salsabila', 'LELY AMALIA SAPUTRI', 'Nastasya Dewi', 'Ragita Anillya Putri Prasetianto', 'Muhammad Fatah Hidayat', 'Dwi Agustia', 'Nia Andriani Laila', 'Winarsi J. Bidul', 'Heru Pranoto', 'Reynaldi Ikbar Surya Andhika', 'Muhammad Rafiq Amrullah', 'Muhammad Mujahid Al-makky', 'Fauzi Ramadhan', 'Vinna Rahmasari', 'Shintia Yulita Sari', 'Maretta Mia Audina', 'Salma Aulia Imama', 'Dhea Emma Karniasari', 'Khoirun Nisya', 'PUSPITA AMBARWATI']

In [4]:
Nim = [2100015049, 2100015041, 2100015043, 2100015006, 2100015037, 2215015035, 2100015051, 2200015023, 2200015012, 
       2200015032, 2100015009, 2100015016, 2100015036, 2100015053, 2100015050, 2100015010, 2100015002, 2200015002, 
       2000015016, 2000015002, 2000015011, 2211015008, 2200015007, 2200015028, 2200015006, 2000015018, 2000015023,
       1900015057, 2200015010, 2200015009, 2200015024, 2200015033, 2000015022]
print(Nim)

[2100015049, 2100015041, 2100015043, 2100015006, 2100015037, 2215015035, 2100015051, 2200015023, 2200015012, 2200015032, 2100015009, 2100015016, 2100015036, 2100015053, 2100015050, 2100015010, 2100015002, 2200015002, 2000015016, 2000015002, 2000015011, 2211015008, 2200015007, 2200015028, 2200015006, 2000015018, 2000015023, 1900015057, 2200015010, 2200015009, 2200015024, 2200015033, 2000015022]

# Soal 2

Selanjutnya dari data diatas buatlah sebuah variabel `Angkatan` yang diperoleh dengan melakukan perulangan dan if statment pada variabel `NIM`.

In [20]:
Angkatan = []
for n in range(len(Nim)):
  if Nim [n] > 19*10**8 and Nim [n] < 20*10**8:
    Angkatan.append('19')
  elif Nim [n] > 20*10**8 and Nim [n] < 21*10**8:
    Angkatan.append('20')
  elif Nim [n] > 21*10**8 and Nim [n] < 22*10**8:
    Angkatan.append('21')
  elif Nim [n] > 22*10**8 and Nim [n] < 23*10**8:
    Angkatan.append('22')

print(Angkatan)

['21', '21', '21', '21', '21', '22', '21', '22', '22', '22', '21', '21', '21', '21', '21', '21', '21', '22', '20', '20', '20', '22', '22', '22', '22', '20', '20', '19', '22', '22', '22', '22', '20']

# Soal 3

Setelah menemukan variabel `Angkatan` silahkan untuk membuat dictionary `Nama`,`NIM`, dan `Angkatan`.

In [6]:
dict_mahasiswa = {'Nama Mahasiswa' : Nama, 'Nim' : Nim, 'Angkatan' : Angkatan}
print(dict_mahasiswa)

{'Nama Mahasiswa': ['Wisnu Catur Rachmad tulloh', 'Sindy Mei Marantika', 'Zakiah Intan Maula', 'Januar Nur Rasyid', 'Lisa Nessa Safitri', 'Hasan Darmawan', 'SAIFUL ANDIKA', 'Maya Isafa Sam Saputri', 'Didi Cahyadi', 'Izza Anggitha Aryanawa', 'Khusnul Khotimah', 'Badzliana Aqmar Suris', 'Anggit Larasati', 'Sona Regina Salsabila', 'LELY AMALIA SAPUTRI', 'Nastasya Dewi', 'Ragita Anillya Putri Prasetianto', 'Muhammad Fatah Hidayat', 'Dwi Agustia', 'Nia Andriani Laila', 'Winarsi J. Bidul', 'Heru Pranoto', 'Reynaldi Ikbar Surya Andhika', 'Muhammad Rafiq Amrullah', 'Muhammad Mujahid Al-makky', 'Fauzi Ramadhan', 'Vinna Rahmasari', 'Shintia Yulita Sari', 'Maretta Mia Audina', 'Salma Aulia Imama', 'Dhea Emma Karniasari', 'Khoirun Nisya', 'PUSPITA AMBARWATI'], 'Nim': [2100015049, 2100015041, 2100015043, 2100015006, 2100015037, 2215015035, 2100015051, 2200015023, 2200015012, 2200015032, 2100015009, 2100015016, 2100015036, 2100015053, 2100015050, 2100015010, 2100015002, 2200015002, 2000015016, 2000015002, 2000015011, 2211015008, 2200015007, 2200015028, 2200015006, 2000015018, 2000015023, 1900015057, 2200015010, 2200015009, 2200015024, 2200015033, 2000015022], 'Angkatan': ['21', '21', '21', '21', '21', '22', '21', '22', '22', '22', '21', '21', '21', '21', '21', '21', '21', '22', '20', '20', '20', '22', '22', '22', '22', '20', '20', '19', '22', '22', '22', '22', '20']}

# Soal 4

Lakukan convert kedalam bentuk data frame dan beri nama `df`

In [7]:
import pandas as pd

df = pd.DataFrame(dict_mahasiswa)
df

                      Nama Mahasiswa         Nim Angkatan
0         Wisnu Catur Rachmad tulloh  2100015049       21
1                Sindy Mei Marantika  2100015041       21
2                 Zakiah Intan Maula  2100015043       21
3                  Januar Nur Rasyid  2100015006       21
4                 Lisa Nessa Safitri  2100015037       21
5                     Hasan Darmawan  2215015035       22
6                      SAIFUL ANDIKA  2100015051       21
7             Maya Isafa Sam Saputri  2200015023       22
8                       Didi Cahyadi  2200015012       22
9             Izza Anggitha Aryanawa  2200015032       22
10                  Khusnul Khotimah  2100015009       21
11             Badzliana Aqmar Suris  2100015016       21
12                   Anggit Larasati  2100015036       21
13             Sona Regina Salsabila  2100015053       21
14               LELY AMALIA SAPUTRI  2100015050       21
15                     Nastasya Dewi  2100015010       21
16  Ragita Anillya Putri Prasetianto  2100015002       21
17            Muhammad Fatah Hidayat  2200015002       22
18                       Dwi Agustia  2000015016       20
19                Nia Andriani Laila  2000015002       20
20                  Winarsi J. Bidul  2000015011       20
21                      Heru Pranoto  2211015008       22
22      Reynaldi Ikbar Surya Andhika  2200015007       22
23           Muhammad Rafiq Amrullah  2200015028       22
24         Muhammad Mujahid Al-makky  2200015006       22
25                    Fauzi Ramadhan  2000015018       20
26                   Vinna Rahmasari  2000015023       20
27               Shintia Yulita Sari  1900015057       19
28                Maretta Mia Audina  2200015010       22
29                 Salma Aulia Imama  2200015009       22
30              Dhea Emma Karniasari  2200015024       22
31                     Khoirun Nisya  2200015033       22
32                 PUSPITA AMBARWATI  2000015022       20

# Soal 5

Buatlah Visualisasi dengan menggunakan `pie chart` dengan menunjukan banyaknya orang setiap angkatan yang mengikuti PD 4.0

In [18]:
import plotly.graph_objects as go

labels = Angkatan
values = Nim

fig = go.Figure(data=[go.Pie(labels=labels, values=values)])
fig.show()

# Soal 6

Lakukan penyimpanan data frame `df` ke dalam bentuk `csv` dengan nama `data_pd4.csv`

In [19]:
df.to_csv('data_pd4.csv')

Untuk mengecek data csv tersebut, klik icon file pada bagian kiri atas kemudian akan muncul data_pd4.csv

# Soal 7

Buatlah data frame dengan nama `df1` dari file csv `iris.csv`

In [ ]:
import pandas as pd

df1 = pd.read_csv('/iris - iris.csv')
df1

     sepalwidth  sepallength  petalwidth  petallength            type
0           5.1          3.5         1.4          0.2     Iris-setosa
1           4.9          3.0         1.4          0.2     Iris-setosa
2           4.7          3.2         1.3          0.2     Iris-setosa
3           4.6          3.1         1.5          0.2     Iris-setosa
4           5.0          3.6         1.4          0.2     Iris-setosa
..          ...          ...         ...          ...             ...
145         6.7          3.0         5.2          2.3  Iris-virginica
146         6.3          2.5         5.0          1.9  Iris-virginica
147         6.5          3.0         5.2          2.0  Iris-virginica
148         6.2          3.4         5.4          2.3  Iris-virginica
149         5.9          3.0         5.1          1.8  Iris-virginica

[150 rows x 5 columns]

# Soal 8

Uplod `data_pd4.csv` kedalam github masing-masing lalu lakukan pembacaan data melalui raw.github dengan mencantumkan link data pada github. Lalu buatlah data frame dengan nama `df2`